<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student</title>
</head>
<body>
<h1> Add a new student</h1>
<form action="/addStudent">
  <input type="text" name="id" placeholder="ID"> <br>
  <input type="text" name="name" placeholder="Name"> <br>
  <input type="submit" value="Add Student">  <br>
</form>

<br>
<h1> Get a student by ID </h1>
<form action="/getStudent">
  <input type="text" name="id" placeholder="ID"> <br>
  <input type="submit" value="Show Student"> <br>
</form>
</body>
</html>